


.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 80%;
  max-width: 1800px;
}

.menu{
  list-style: none;
  display: flex;
  font-size: small;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

.menu:hover{
  cursor: pointer;
}

.divlogo{ 
  padding: 20px;
  height: 65px;
  width: 100px;
}

img{
  max-width: 100%;
}

div .menu{
  color: white;
}

div ul li{
  color: white;
  padding: 6px;
}

main {
  justify-content: center;
  display: flex;
  border-top-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  font-family: Arial, Helvetica, sans-serif ;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin-top: 30px;
  min-width: 500px;
}
.card {
  display: inline-block;
  margin: 4px 6px;
  position: relative;
  min-width: 250px;
}

.card .percentuale {
  position: absolute;
  bottom: 150px;
  left: 0px;
  background-color: red;
  padding: 5px 10px;
  color: white;
}
.card .sostenibilità {
  position: absolute;
  bottom: 150px;
  left: 0px;
  background-color: green;
  padding: 5px 10px;
  color: white;
}
.card .heart {
  position: absolute;
  top: 25px;
  right: 0px;
  background-color: white;
  padding: 4px 14px;
}
.heart {
  font-size: xx-large;
}
.heart:hover{
  cursor: pointer;
  color: red;
  z-index: 9999;
  position: absolute;

}
.card {
  width: 400px; 
  padding-top: 10px;
  margin-bottom: 20px;
  min-width: none;  
}
.card1{
  z-index: 0;
  position: absolute;
}
.card1b{
  position: relative;
  z-index: -1;
}

.uno:hover .card1{
  display: none;
}
.card img {
  max-width: 400px; 
  height: 600px; 
  object-fit: cover;
  min-width: 200px;
}

.uno{

  top: 0px;
  left: 0px;


}
 .uno:hover{
  cursor: pointer;
  
}
.scontato{
  color: red;
  font-weight: 800;
}
h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
  font-size: large;
}
.brand{
  font-size: medium;
}
.originale{
  text-decoration: line-through;
  margin-left: 8px;
}
footer{
  background-color: #1A1A1A;
  color: white;
  height: 90px;
}
footer{
  justify-content: center;
  align-items: center;
  display: flex;
}
.container-footer{
  display: flex;
  height: 80px;
  width: 81%;
  justify-content: space-between;

}
.info{
  padding-right: 10px;
}
.informazioni{
  padding: 15px;
}
.social{
  padding: 15px;
}

.flag {
  display: flex;
  flex-direction: column;
  position: absolute;
  position: absolute;
  bottom: 150px;
  left: 0px;
}

.flag .percentuale {
  left: 0;
  bottom: -30px;
}

.flag .sostenibilità {
  left: 0;
  bottom: 0;
}

.info:hover {
  cursor: pointer;
  text-decoration: underline;
}
